* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Login */

#login-screen{
    position:fixed;
    inset:0;
    background:linear-gradient(135deg,#fff7f9,#ffe9ef);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999999;
}

.login-box{
    width: 80%;
    max-width:350px;
    padding:30px;
    background:#fff;
    border-radius:20px;
    text-align:center;
    box-shadow:  0 0 10px black;
}

.login-box h3{
    color:#b23a48;
    margin-bottom:20px;
}

.login-box input{
    width:100%;
    height: 60px;
    padding:12px;
    margin:8px 0;
    border:1px solid #ffd6de;
    border-radius:10px;
    box-sizing:border-box;
    font-size:16px;
}

.login-box button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:10px;
    background:#b23a48;
    color:white;
    font-size:20px;
    cursor:pointer;
}

.login-box button:hover{
    opacity:.9;
}

#error-msg{
    color:red;
    margin-top:10px;
    min-height:20px;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* start */

.start {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/222.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.start p {
    margin-top: 30px;
    font-size: 10rem;
    font-weight: 600;
    color: #135850;
}


.start .image {
    position: absolute;
    content: "";
    z-index: 100;
    height: 70vh;
    bottom: 0;
}

.start .image::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    transform: translateX(-30%);
    width: 60%;
    height: 20px;
    background: rgba(0, 0, 0, 0.9);
    filter: blur(10px);
    border-radius: 50%;
    z-index: -1;
}

.start .image img {
    width: 80%;
    height: 100%;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5));
}

.orbit3d{
    position:absolute;
    top: 29%;
    left: 52.5%;
    width:0;
    height:0;
    pointer-events:none;
}

.fly{
    position:absolute;
    font-size:24px;
    transform-origin:center;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* container */

.container {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rounded {
    width: 100%;
    height: fit-content;
    padding: 8px 10px;
    margin: 4px 0;
    background-color: #fffafc;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 2px 3fr;
    gap: 20px;
    border: 1px solid #ffd6de;
    box-shadow: 0 0 3px #c77c7c;
}
.rounded hr {
    background-color: white;
}
.rounded p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.for-me {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    background-color: #fffafc;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #ffd6de;
    box-shadow: inset 0 0 12px #c77c7c;
}
.for-me p {
    font-family: "poppins", sans-serif;
    color: #b23a48;
    line-height: 1.5;
}

.for-me hr {
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background-color: #b23a48;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* العمر */
.age{
    gap: 15px;
}

.age-box{
    width: 120px;
    height: 150px;
    background-image: url("../images/frame.png"); /* غير الاسم حسب صورتك */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-color: #fffafc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.age-box p{
    margin-top: -30px;
    color: #b03a5b;
    font-size: 2rem;
    font-weight: bold;
}

.age-box span{
    margin-top: -13px;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
}

.age-box hr {
    width: 70%;
    height: 2px;
    margin: 13px 0;
    background-color: #b03a5b;
    border: none;
}

.heart-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

/* شكل القلب */
.heart {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    animation: floatUp 3s linear forwards;
    opacity: 0.8;
}

.celebration-birth {
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}


@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-200px) scale(1.5);
        opacity: 0;
    }
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* اعداد الفيديو */
.video-container{
    margin: 2px 0;
    position: relative;
    overflow: hidden;
}

.video-container video {
    width:100%;
    border:none;
    border-radius: 8px;
    z-index: 1;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* استايل خطوية */

.for-me .styles {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.for-me .styles .man {
    width: 20%;
    height: 300px;
}

.for-me .styles .man img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.for-me .styles .women {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
}

.for-me .styles .women img {
    width: 100%;
    height: 300px;
    border-radius: 6px;
}

.for-me h2 {
    color: #a30000;
}

.for-me h4 {
    color: #b03a5b;
}




.p-message {
    color: #800020;
    font-size: 18px;
    font-family: sans-serif;
    margin: 10px 0 -40px;
    
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */




/* ذكريات */
.for-story {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 3px 0;
    padding: 0 5px 5px;
    border-radius: 8px;
    box-shadow: 0 0 5px black, inset 0 0 5px rgb(168, 87, 87);
}
.our-story {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#ourStoryCount {
    font-size: 22px;
    font-weight: 700;
    padding: 3px;
    background: #800020;
    box-shadow: 0 0 10px black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
}

.story-title{
    font-size: 30px;
    text-align:center;
    color:#b23a48;
}

.story-grid{
    width: 100%;
    display:grid;
    grid-template-columns:repeat(6,1fr);
    gap:8px;
    position: relative;
    padding-bottom: 10px;
}

#loadingContainer {
    width: 100%;
    height: 6px;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}

#loadingBar {
    width: 5%;
    height: 100%;
    background: #800020;
    transition: 0.3s;
}


.story-btn{
    width: 100%;
    height: 40px;
    padding:5px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e2acac;
    color: #800020;
    box-shadow: 0 0 5px #413a3a;
}

#addMemoryBtn {
    padding: 5px 15px;
    font-size: 22px;
    color: white;
    background-color: #b23a48;
    box-shadow: 0 0 70px #b23a486e;
}

/* الخلفية المعتمة */
.story-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.5);
    backdrop-filter:blur(8px);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

/* المربع */
.story-modal{
    width:90%;
    height:90vh;
    background:#fffafc;
    border-radius:15px;
    overflow-y:auto;
    position:relative;
    padding:20px;
}

/* زر الغلق */
.close-story{
    position:sticky;
    background: none;
    top: 0;
    display: block;
    border:none;
    cursor:pointer;
    font-size:22px;
    z-index:2;
}


/* المحتوى */
.story-content{
    text-align:center;
}

.story-content h2{
    color:#b23a48;
    margin-bottom:20px;
}

.story-content p{
    font-family: "poppins", sans-serif;
    color: #b23a48;
    line-height:1.8;
    margin-bottom:25px;
}

.story-content img{
    width:100%;
    max-width:500px;
    border-radius:15px;
}


/* إضافة الذكرى */
.memory-form{
    width:90%;
    max-width:500px;
    margin:0 auto;
    padding:20px;
    border-radius:15px;
    background:#fffafc;

    display:flex;
    flex-direction:column;
    gap:10px;
}

.memory-form input,
.memory-form textarea{
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
}

.memory-form textarea{
    min-height:120px;
}

.memory-form button{
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    color: white;
    background-color: #f13268;
}

#extraImagesContainer {
    width: 100%;
}

#extraImagesContainer input {
    width: 100%;
    margin: 5px 0;
}

.admin-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.admin-delete-memory,
.hide-memory,
.delete-memory {
    padding: 10px;
    color: white;
    background: #135850;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
}

.deleted-memory {
    opacity: 0.5;
    border: 2px dashed #ff4d4d;
    background: #ffe5e5;
    color: #a30000;
}





/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* هدايا */
#giftBtn1 {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 60px 0;
    background:linear-gradient(135deg,#fff7f9,#ffe9ef);
    box-shadow: 0 0 70px #b23a486e;
    color: #cb3838;
    font-size: 20px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.gift-overlay{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.55);

    backdrop-filter:blur(8px);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:99999;
}

.gift-overlay.active{
    display:flex;
}

.story-modal1{
    width:90%;
    height:fit-content;
    max-height: 90vh;
    background:#fffafc;
    box-shadow: 0 0 20px white;
    border-radius:15px;
    overflow-y:auto;
    position:relative;
    padding:20px;
}

.gift-box{
    position:relative;
    width:90%;
    max-width:700px;
    padding:40px;
    text-align:center;
    color:white;
    border-radius:20px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    box-shadow:0 0 40px rgba(255,255,255,.15);
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
}


.gift-box h2{
    font-family:'Cairo',sans-serif;

    font-size:clamp(20px,5vw,50px);

    line-height:1.8;

    color: #ddd;
}

.gift-box h4 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #00fffa;
}

#closeGiftOverlay{
    position:absolute;
    top:15px;
    right:20px;
    border:none;
    background:none;
    color:white;
    cursor:pointer;
    font-size:24px;
}







#passwordSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    margin-top:15px;
}

#giftPassword{
    padding:10px;
    width:90%;
    height: 60px;
    border-radius: 10px;
}

#showGiftBtn,
.show-Gift {
    font-size: 15px;
    padding: 10px;
    background: #135850;
    color: white;
    border: none;
    border-radius: 8px;
}

#errorMsg{
    color:red;
    margin-top:10px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



 
/* الرسالة السرية */
.secret-btn{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 60px 0;
    background:linear-gradient(135deg,#fff7f9,#ffe9ef);
    box-shadow: 0 0 70px #b23a486e;
    color: #cb3838;
    font-size: 20px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

/* الخلفية الضبابية */
.overlay{
    position:fixed;
    inset:0;
    background:rgba(0, 0, 0, 0.596);
    backdrop-filter:blur(6px);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition:0.4s;
    z-index:9999;
}

/* عند الفتح */
.overlay.show{
    opacity:1;
    visibility:visible;
}

/* المربع العائم */
.secret-box{
    width:90%;
    height:90vh;
    background:white;
    border-radius:20px;
    position:relative;
    overflow:hidden;
    box-shadow:0 10px 40px rgba(0,0,0,0.3);
}

/* زر الغلق */
.close-btn{
    position:absolute;
    top:15px;
    right:15px;
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
    z-index:2;
}

/* الجزء القابل للسكرول */
.secret-content{
    text-align: center;
    height:100%;
    overflow-y:auto;
    padding:60px 20px 20px;
    box-shadow: inset 0 0 20px black
}

/* كروت الرسائل */
.message-card{
    padding:10px;
}

.message-card h1 {
    font-size: 50px;
    color: #b3224b;
}

.message-card h3 {
    color: #cc6d78;
}

.message-card p {
    font-size: 18px;
    color: #135850;
}





/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





footer {
    text-align: center;
    padding: 10px 0;
}

footer p,
.heart-container .mmm {
  font-family:"Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}




/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* اعداد الموبايل */
@media screen and (max-width: 767px) {
    .start {
        height: 93vh;
    }
    .start p {
        margin-top: 50px;
        font-size: 4rem;
    }
    .start .image {
        right: 20%;
    }
    .orbit3d{
    left: 49%;
    }
    .for-me .styles .man {
    width: 50%;
    }
    .for-me .styles{
        flex-direction: column;
    }
    .story-grid{
    grid-template-columns:repeat(3,1fr);
}
}

